* {
    margin: 0;
    padding: 0;
}

body {
    padding: 30px 50px;
    background: wheat;
}

.btn {
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 100%;
    cursor: pointer;
}

#yellowgreen {
    background-color: yellowgreen;
}

#aqua {
    background-color: aquamarine;
}

#violet {
    background-color: violet;
}

#salmon {
    background-color: salmon;
}

h1 {
    text-align: center;
    background-color: #0067B0;
    color: yellowgreen;
    padding: 10px;
}

#textbox {
    margin: 20px;
    width: 97%;
    border: 2px solid #0067B0;
}

p {
    text-align: center;
    background-color: #0067B0;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: yellowgreen;
}